@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

:root {
    --color-pink: hsl(322, 100%, 66%);
    --color-pale-cyan: hsl(193, 100%, 96%);
    --color-dark-cyan: hsl(192, 100%, 9%);
    --color-grayish-blue: hsl(208, 11%, 55%);
    --box-shadow: 0 0 20px 0 hsl(192, 100%, 9%, 0.2);

    --font-headings: "Poppins", sans-serif;
    --font-standard: "Open Sans", sans-serif;

    --font-weight-400: 400;
    --font-weight-600: 600;
    --font-weight-700: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-size: 2.5rem;
    font-family: "Open Sans", sans-serif;
    font-weight: var(--font-weight-400);
    color: var(--color-grayish-blue);
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
    font-weight: var(--font-weight-600);
    color: var(--color-dark-cyan);
    text-transform: capitalize;
}

h1 {
    margin: 0;
    font-size: 4.3rem;
}

h2 {
    font-size: 3.7rem;
    margin: 11rem 0 3.5rem;
}

h3 {
    font-size: 3.3rem;
}

@media (min-width: 1440px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 3.8rem;
    }

    h2 {
        font-size: 2.8rem;
    }

    h3 {
        font-size: 3rem;
    }
}

/* Buttons */

.btn {
    background-color: transparent;
    border-radius: 40px;
    border: 0;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-weight: var(--font-weight-600);
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
}

.btn:hover {
    opacity: 0.6;
}

.btn--large,
.btn--medium {
    padding: 2.5rem 5em;
}

.btn--large {
    font-size: 2.2rem;
}

.btn--medium {
    font-size: 1.8rem;
}

.btn--small {
    padding: 1.5rem 5rem;
    font-size: 2rem;
}

.btn--pink {
    background-color: var(--color-pink);
    color: var(--color-pale-cyan);
}

.btn--white {
    color: var(--color-dark-cyan);
}

@media (min-width: 1440px) {
    .btn--large {
        font-size: 1.3rem;
        padding: 2.2rem 5.5em;
    }

    .btn--small {
        font-size: 1.4rem;
        padding-inline: 6rem;
    }
}

/* Grid */

.grid {
    display: grid;
}

@media (min-width: 1440px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Card */

.card-container {
    margin: 4rem;
}

.card {
    box-shadow: var(--box-shadow);
    border-radius: 30px;
    text-align: center;
    padding: 10rem 8rem 6rem;
}

.card__image {
    width: 100%;
}

@media (min-width: 1440px) {
    .card {
        gap: 18rem;
        padding-left: 12rem;
    }

    .card__content {
        text-align: left;
    }

    .card__image-container {
        order: 2;
    }
}
