@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

:root {
    --color-pink: hsl(322, 100%, 66%);
    --color-pale-cyan: hsl(193, 100%, 96%);
    --color-dark-cyan: hsl(192, 100%, 9%);
    --color-grayish-blue: hsl(208, 11%, 55%);
    --box-shadow: 0 0 20px 0 hsl(192, 100%, 9%, 0.2);

    --font-headings: "Poppins", sans-serif;
    --font-standard: "Open Sans", sans-serif;

    --font-weight-400: 400;
    --font-weight-600: 600;
    --font-weight-700: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: "Open Sans", sans-serif;
    font-weight: var(--font-weight-400);
    color: var(--color-grayish-blue);
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
    font-weight: var(--font-weight-600);
    color: var(--color-dark-cyan);
    text-transform: capitalize;
}

h1 {
    margin: 0;
    font-size: 4.3rem;
}

h2 {
    font-size: 3.7rem;
}

h3 {
    font-size: 3.3rem;
}

@media (min-width: 1440px) {
    h1 {
        font-size: 3.8rem;
    }

    h2 {
        font-size: 2.8rem;
    }

    h3 {
        font-size: 3rem;
    }
}
