<section class="card">
    <div class="card__img-container">
        <svg class="icon">
            <use
                xlink:href="images/sprite.svg#illustration-grow-together"
            ></use>
        </svg>
    </div>
    <article>
        <h2 class="card__heading">Grow Together</h2>
        <p class="card__description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat,
            unde laboriosam sint rerum voluptatibus odit velit non! Placeat
            maxime perferendis, veniam odio sint quae sed dolore, recusandae qui
            inventore sunt.
        </p>
    </article>
</section>
