<section class="card-container">
    <article class="grid grid--1x2 card">
        <div class="card__image-container">
            <img
                class="card__image"
                src="images/illustration-grow-together.svg"
                alt=""
            />
        </div>
        <div class="card__content">
            <h2>Grow together</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex
                eius ea, esse ipsa fugiat ipsam sapiente corporis quam enim
                perspiciatis?
            </p>
        </div>
    </article>
</section>
