<footer class="footer">
    <span class="footer__logo">
        <img src="images/logo2.svg" alt="" />
    </span>
    <div class="grid grid--1x3 footer__content">
        <section class="footer__contact">
            <ul class="footer__list">
                <li class="footer__contact-list-item">
                    <div class="icon-container">
                        <svg class="icon">
                            <use
                                xlink:href="images/sprite.svg#icon-location"
                            ></use>
                        </svg>
                    </div>
                    <p class="contact-list-item__description">
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Reprehenderit ut quam, quo nobis mollitia nemo
                        labore omnis architecto veniam consectetur et ducimus
                        repellat vero quaerat consequuntur recusandae ab ea?
                        Sed?
                    </p>
                </li>
                <li class="footer__contact-list-item">
                    <div class="icon-container">
                        <svg class="icon">
                            <use
                                xlink:href="images/sprite.svg#icon-phone"
                            ></use>
                        </svg>
                    </div>
                    <p class="contact-list-item__description">
                        +1-543-123-4567
                    </p>
                </li>
                <li class="footer__contact-list-item">
                    <div class="icon-container">
                        <svg class="icon">
                            <use
                                xlink:href="images/sprite.svg#icon-email"
                            ></use>
                        </svg>
                    </div>
                    <p class="contact-list-item__description">
                        example@fylo.com
                    </p>
                </li>
            </ul>
        </section>
        <section class="footer__links">
            <ul class="footer__list footer__links-list">
                <li class="footer__list-item footer__links-list-item">
                    <a href="#" class="footer__link">About us</a>
                </li>
                <li class="footer__list-item footer__links-list-item">
                    <a href="#" class="footer__link">What we do</a>
                </li>
                <li class="footer__list-item footer__links-list-item">
                    <a href="#" class="footer__link uppercase">faq</a>
                </li>
            </ul>
            <ul class="footer__list footer__links-list">
                <li class="footer__list-item footer__links-list-item">
                    <a href="#" class="footer__link">Career</a>
                </li>
                <li class="footer__list-item footer__links-list-item">
                    <a href="#" class="footer__link">Blog</a>
                </li>
                <li class="footer__list-item footer__links-list-item">
                    <a href="#" class="footer__link">Contact us</a>
                </li>
            </ul>
        </section>
        <section class="footer__media">
            <div class="footer__media-icons">
                <div class="icon-media-container">
                    <svg class="icon-media">
                        <use xlink:href="images/sprite.svg#icon-email"></use>
                    </svg>
                </div>
                <div class="icon-media-container">
                    <svg class="icon-media">
                        <use xlink:href="images/sprite.svg#icon-location"></use>
                    </svg>
                </div>
                <div class="icon-media-container">
                    <svg class="icon-media">
                        <use xlink:href="images/sprite.svg#icon-phone"></use>
                    </svg>
                </div>
            </div>
            <p class="footer__copyright">
                &copy; Copyright 2018 Huddle. All rights reserved.
            </p>
        </section>
    </div>
</footer>
