<section>
    <article class="hero">
        <div class="grid grid--1x2 hero__container">
            <header class="hearo__header">
                <h1>build the community your fans will love</h1>
                <p class="hero__description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Cumque consequatur beatae recusandae aut ullam labore
                    adipisci temporibus vitae nulla placeat?
                </p>
                <button class="btn btn--large btn--pink">
                    Get Started For Free
                </button>
            </header>
            <div class="hero__image-container">
                <img
                    src="images/illustration-mockups.svg"
                    alt=""
                    class="hero__image"
                />
            </div>
        </div>
    </article>
</section>
